<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h2>Two way data binding:</h2>
                <h4>Two-way data binding is a powerful feature of Angular that allows changes made in the model to be automatically reflected in the view and vice versa.</h4>
                <ul>
                    <li>
                       <input type="text" name="firstname" [(ngModel)]="twowayValue"> <br/><br/>
                       Here is the updated value of ngModel : <h2>{{twowayValue}}</h2>
                    </li>
                
                </ul>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</section>
