<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h2>Event Binding:</h2>
                <h4>event binding is a way to respond to user actions such as clicking a button or entering text into a form.</h4>
                <button type="button" class="btn btn-warning" (click)="onButtonClick()">Click me!</button>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</section>