<h4> hooks are methods that are executed at specific moments in the lifecycle of a component</h4>
<ol>
    <li>
ngOnChanges: This hook is called whenever the data-bound property of a component changes. It takes an object that contains the changed properties as input.
    </li><br>
<li>
ngOnInit: This hook is called after the component has been initialized and all its properties have been set. This is a good place to initialize any additional data or subscribe to events.
</li><br>
<li>
ngDoCheck: This hook is called whenever the change detection mechanism detects a change in the component. It can be used to perform custom change detection logic.
</li><br>
<li>
ngOnDestroy: This hook is called just before the component is destroyed. This is a good place to unsubscribe from any events or cleanup any resources used by the component.
</li><br>
</ol>