<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h2>Property Binding:</h2>
                <h4>property binding allows you to bind a value to an element's property, such as a button's disabled property or an image's src property.</h4>
                <button type="button" class="btn btn-danger" [disabled]="isDisabled">Click me!</button>
            </div>
            <div class="col-sm-1"></div>
            
           
        </div>
     </div>
</section>

