<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h2>Attribute Binding:</h2>
                <h4>Attribute binding in Angular is a way to set the value of an HTML element attribute dynamically.</h4>
                <ul>
                    <li>
                        <h2>add ngClass using propery binding</h2>
                        <div [ngClass]="'myclass'">This is the ngClass example using attribute binding</div>
                    </li>
                    <li>
                        <h2>add ngClass on conditional basis</h2>
                        <div [ngClass]="marks > 45 ? 'pass' : 'fail'">Result: {{marks}}</div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-1"></div>
            
           
        </div>
     </div>
</section>
