<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <a href="index3.html" class="brand-link">
        <span class="brand-text font-weight-light">Angular Demo</span>
    </a>

    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Home -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p> Home

                        </p>
                    </a>
                </li>

                <li class="nav-header">Angular Main Topics</li>

                <!-- Data Binding Start -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-puzzle-piece"></i>
                        <p>
                            Data Bindings
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="/data-binding/interpolation" class="nav-link">
                                <i class="far fa-circle nav-icon text-danger"></i>
                                <p>String Interpolation</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/data-binding/property" class="nav-link">
                                <i class="far fa-circle nav-icon text-warning"></i>
                                <p>Property Binding</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/data-binding/atrribute" class="nav-link">
                                <i class="far fa-circle nav-icon text-success"></i>
                                <p>Attribute Binding</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/data-binding/event" class="nav-link">
                                <i class="far fa-circle nav-icon text-info"></i>
                                <p>Event Binding</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/data-binding/two-way" class="nav-link">
                                <i class="far fa-circle nav-icon text-primary"></i>
                                <p>Two-Way Data Binding</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Data Binding Ends -->

                <!-- Component Communication Start -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-share"></i>
                        <p>
                            Data Sharing
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="/data-sharing/parenttochild" class="nav-link">
                                <i class="far fa-circle nav-icon  text-danger"></i>
                                <p>Parent-to-Child</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/data-sharing/childtoparen" class="nav-link">
                                <i class="far fa-circle nav-icon text-info"></i>
                                <p>Child-to-Parent</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/data-sharing/using-services" class="nav-link">
                                <i class="far fa-circle nav-icon text-success"></i>
                                <p>Using Service</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/data-sharing/using-session" class="nav-link">
                                <i class="far fa-circle nav-icon text-warning"></i>
                                <p>Using Session storage</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/data-sharing/using-subjects" class="nav-link">
                                <i class="far fa-circle nav-icon text-primary"></i>
                                <p>Using Subjects</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Component Communication Ends -->

                <!-- Directives Start -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-paper-plane"></i>
                        <p>
                            Directives
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="/directives/structural" class="nav-link">
                                <i class="far fa-circle nav-icon text-danger"></i>
                                <p>Structural</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/directives/attribute" class="nav-link">
                                <i class="far fa-circle nav-icon text-info"></i>
                                <p>Attribute</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/directives/component" class="nav-link">
                                <i class="far fa-circle nav-icon text-primary"></i>
                                <p>Component</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/directives/custom" class="nav-link">
                                <i class="far fa-circle nav-icon text-warning"></i>
                                <p>Custome</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Directives Ends -->

                <!-- Pipes Start -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-eye-dropper"></i>
                        <p>
                            Pipes
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="/pipes/inbuilt-pipes" class="nav-link">
                                <i class="far fa-circle nav-icon text-danger"></i>
                                <p>Inbult-Pipes</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/pipes/custom-pipes" class="nav-link">
                                <i class="far fa-circle nav-icon text-success"></i>
                                <p>Custom-Pipes</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Pipes Ends -->


                <!-- Forms Start -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Forms
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="/forms/template" class="nav-link">
                                <i class="far fa-circle nav-icon text-danger"></i>
                                <p>Template-Driven-Forms</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/forms/reactive" class="nav-link">
                                <i class="far fa-circle nav-icon text-success"></i>
                                <p>Reactive-Forms</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Forms Ends -->

                <!-- Hooks start -->
                <li class="nav-header">Other Topics</li>
                <li class="nav-item">
                    <a routerLink="/hooks" class="nav-link">
                        <i class="nav-icon far fa-image "></i>
                        <p>
                            Hooks
                        </p>
                    </a>
                </li>
                <!-- Hooks Ends -->

                <!-- Authgurad start -->
                <li class="nav-item">
                    <a routerLink="/authguard" class="nav-link">
                        <i class="nav-icon far fa-image "></i>
                        <p>
                            Authguard
                        </p>
                    </a>
                </li>
                <!-- Authgurad Ends -->

                <!-- Fake_api start -->
                <li class="nav-item">
                    <a routerLink="/fake_api" class="nav-link">
                        <i class="nav-icon far fa-image "></i>
                        <p>
                            Fake_Api
                        </p>
                    </a>
                </li>
                <!-- Fake_api Ends -->

            </ul>
        </nav>

    </div>

</aside>