<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h2>Strinng Interpolation:</h2>
                <h4>string interpolation is a way to dynamically insert values into a string template. It's denoted by using double
                    curly braces in the HTML template.</h4>
                <p >Hello, my name is<span style="color:red;"> {{ name }}</span> and I am <span style="color:red;">{{ age }}</span> years old.</p></div>
            <div class="col-sm-1"></div>
            
        </div>
     </div>
</section>